.dashboard_container {
  height: auto;
  text-align: center;
  color: #232323;
  overflow: scroll;
  clear: both;
  align-content: center;
}

label {
  width: 45vw;
  text-align: right;
  padding-right: 10px;
  float: left;
  font-size: 18px;
}

input {
  margin-bottom: 10px;
  display: block;
}

button {
  text-align: center;
}

.errorMsg {
  color: red;
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
  display: block;
  margin-left: 50px;
}

.dashboard_container button {
  background-color: blue;
  color: white;
  padding: 5px 10px 5px 10px;
  margin-right: 20px;
}

select {
  margin-bottom: 15px;
}

input[type="file"] {
  background-color: #232323;
  color: white;
  display: initial;
  align: center;
}
